// Include theming for Angular Material with `mat.theme()`.
// This Sass mixin will define CSS variables that are used for styling Angular Material
// components according to the Material 3 design spec.
// Learn more about theming and how to use it for your application's
// custom components at https://material.angular.dev/guide/theming
@use '@angular/material' as mat;
@use './styles.css';
@use './app/theme.css';
html {
  @include mat.theme((
    color: (
      primary: mat.$azure-palette,
      tertiary: mat.$blue-palette,
    ),
    typography: Roboto,
    density: 0,
  ));
}

body {
  // Default the application to a light color theme. This can be changed to
  // `dark` to enable the dark color theme, or to `light dark` to defer to the
  // user's system settings.
  color-scheme: light;

  // Set a default background, font and text colors for the application using
  // Angular Material's system-level CSS variables. Learn more about these
  // variables at https://material.angular.dev/guide/system-variables
  background-color: var(--mat-sys-background);
  color: var(--mat-sys-on-background);
  font: var(--mat-sys-body-medium);
  font-family: Roboto, "Helvetica Neue", sans-serif;
  // Reset the user agent margin.
  margin: 0;
}
/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.mdc-notched-outline__notch{
    border-style: none;
}
.mdc-checkbox{
    &__ripple{
        display: none !important;
    }
}

mat-form-field{
  @include mat.theme((
    density: -3,
  ))
}

::view-transition-old(.field-transition),
::view-transition-new(.field-transition){
  height: 100%;
}


.content{
  @apply p-4 bg-surface-container-low rounded-lg  border-outline-variant shadow-sm;
  &__title{
    @apply text-on-surface text-xl font-medium mb-4
  }
  &__form-field{
    @apply p-4 bg-surface-container-low rounded-lg shadow-sm  cursor-grab active:cursor-grabbing
  }
}



.element-button{
  @apply flex items-center gap-3 w-full p-3 bg-surface border border-outline-variant hover:border-outline hover:shadow-md transition-shadow rounded-lg  cursor-pointer;
  &__icon{
    @apply rounded-md bg-surface-container-high flex items-center justify-center p-1;
  }
  &__label{
    @apply text-on-surface-variant text-base;
  }
}
.default-empty{
  @apply w-full p-4 border-dashed border-2 border-surface-container-highest rounded-lg;
}

.editor{
  @apply p-5 bg-surface rounded-lg border-2 border-dashed border-surface-container-highest hover:border-outline-variant;
}

.cdk-drop-list-dragging:not(.elements-menu){
  border: 2px solid var(--color-surface-container-high) !important;
  background-color: var(--color-surface-container-high) !important;
}
